development:
  dialect: postgres
  datasource: user=user password=pass host=localhost port=5432 dbname=posts sslmode=disable search_path=public
  dir: migrations
  table: migrations

production:
  dialect: postgres
  datasource: user=user password=pass host=localhost port=5432 dbname=posts sslmode=disable search_path=public
  dir: migrations
  table: migrations
